@import "tailwindcss";

/* === Paleta de Colores Personalizada === */
@theme {
  /* Primarios */
  --color-primary-01: #1B8EF2;
  --color-primary-02: #1675F2;

  /* Secundarios */
  --color-secondary-01: #0554F2;
  --color-secondary-02: #22A2F2;

  /* Neutros */
  --color-neutral-01: #FFFFFF;
  --color-neutral-02: #BEC2C9;
  --color-neutral-03: #E4E7EE;

  /* Texto */
  --color-text-01: #0F172A;
  --color-text-02: #334155;
  --color-text-03: #FFFFFF;

  /* Complementarios */
  --color-complementary-01: #F29F1B;
  --color-complementary-02: #9D7B46;
  --color-complementary-03: #407DB3;

  /* Estado */
  --color-state-01: #2FAE90;
  --color-state-02: #EBD950;
  --color-state-03: #D06D49;
  --color-state-04: #1BA0F2;
}
